[submodule "src/client"]
	path = src/client
	url = https://github.com/enKryptIO/ethvm.git
	branch = master
[submodule "src/server"]
	path = src/server
	url = https://github.com/enKryptIO/ethvm-socket-server.git
	branch = master
[submodule "src/eth"]
	path = src/eth
	url = https://github.com/enKryptIO/go-ethereum
	branch = master
